@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #f6f8ff;
    font-family: 'Space Mono', monospace;
    margin-top: 30px;
}

.container {
    width: 90%;
    max-width: 730px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
  
.navbar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}
  
.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #697C9A;
    cursor: pointer;
}

.theme button {
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.theme h4 {
    letter-spacing: 2.5px;
    margin: 10px;
}

h1 {
    font-size: 2.6rem;
}

h4 {
    font-size: 1.3rem;;
    line-height: 1.9;
}

.search {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: auto;
    background-color: #FEFEFE;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 1.5rem;
    margin: 3.6rem 0 0 0;
}

.search input {
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5;
    font-family: 'Space Mono';
    color:#4B6A9B;
    width: 100%;
    padding: 1.5rem;
}

.search input:focus {
    outline:none;
}

.search svg {
    width: 4rem;
    height: 2.5rem;;
    margin-left: 32px;
}

.search button {
    padding: 13px 23px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #0079FF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.search button:hover {
    background-color: #60ABFF;
}


.main {
    background-color: #FEFEFE;
    width: 100%;
    margin-top: 24px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
}

.profile {
    display: flex;
    padding: 50px;
    gap: 36px;
}

.profile h1 {
    width: 176px;
    height: 39px;
    left: 557px;
    top: 355px;
    
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: #2B3442;
}

.profile img {
    width: 117px;
    height: 117px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.pseudo h3 {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0079FF;
    padding-top: 2px;
}

.top span {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #697C9A;
}

.desc p {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #4B6A9B;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-top: 20px;
}

.section {
    background-color: #F6F8FF;
    width: 480px;
    height: 85px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 37px;
}

.section .repos {
    margin-left: 32px;
}

.section .following {
    margin-right: 83px;
}

.section h4 {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #4B6A9B;
}

.infos  {
    display: flex;
    justify-content: space-between;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #4B6A9B;
}

.twitter {
    mix-blend-mode: normal;
    opacity: 0.5;
}

.compagny {
    margin-top: 20px;
}

.link {
    margin-top: 20px;
    cursor: pointer;
}

.link p:hover {
    text-decoration: underline;
}

.point {
    display: flex;
    gap: 15px;
}

@media screen and (max-width:767px) {
    .container {
        width: 90%;
        /* max-width: 730px;  */
        width: 327px;
        height: 517px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .search input {
        height: 25px;
        left: 13.76%;
        right: 29.97%;
        top: calc(50% - 25px/2 + 0.5px);

        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 25px;
    }

    .search svg {
        margin-left: 16px;
    }

    .profile {
        display: flex;
        padding-left: 24px;
        padding-top: 32px;
        gap: 19px;
    }
    
    .profile h1 {
        height: 24px;
        left: 0.35%;
        right: 24.65%;
        top: calc(50% - 24px/2 - 22.5px);
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
    
    .profile img {
        width: 70px;
        height: 70px;
    }
    
    .top {
        display: flex;
        flex-direction: column;
    }
    
    .pseudo h3 {
        height: 19px;
        left: 0%;
        right: 55.56%;
        top: calc(50% - 19px/2 - 1px);
        
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
    }
    
    .top span {
        height: 19px;
        left: 0%;
        right: 0%;
        top: calc(50% - 19px/2 + 24px);
        
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        padding-top: 6px;
    }

    .desc p {
        height: 75px;
        left: 7.34%;
        right: 7.34%;
        top: calc(50% - 75px/2 - 86px);
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 25px;
        margin-left: -90px;
        margin-top: 30px;
    }
    .section {
        width: 279px;
        margin-top: 70px;
        margin-left: -90px;
        text-align: center;
    }

    .section .repos {
        margin-left: 15px;
    }
    
    .section .following {
        margin-right: 15px;
    }

    .infos {
        display: flex;
        flex-direction: column;
        margin-left: -90px;
        margin-top: 24px; 
        left: 0%;
        right: 0%;
        top: calc(50% - 16px/2 - 16px);
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
    }
    .link {
        margin-top: 16px;
    }
    .compagny {
        margin-top: 16px;

    }
    .twitter {
        margin-top: 16px;

    }
}

@media (prefers-color-scheme: dark){
    body {
        background-color: #141D2F;
        color: #FFFFFF;
    }
    .search {
        background-color: #1E2A47;
    }
    .search input {
        background-color: #1E2A47;
    }
    .main {
        background-color: #1E2A47;
    }
    .top span {
        color: white;
    }
    .section {
        background-color: #141D2F;
    }
    .section h4 {
        color:#FFFFFF;
    }
    .profile h1 {
        color:#FFFFFF;
    }
    .desc p {
        color: white;
        opacity: 1;
    }
    p {
        color: white;
    }
    .infos {
        color: white;
    }

}
@media (prefers-color-scheme: light){
    body {
        background-color: #F6F8FF;
        color: #000000;
    }
}